<div id="contenedor">
<h3>dedicatorias</h3>
<div id="contdedi">
<div *ngFor ="let dedicatoria of dedicatorias">

<h4>De : {{dedicatoria.de}}</h4>
<h4>Para : {{dedicatoria.para}}</h4>


  <h1>
  <a [title] ="dedicatoria.name  + 'details'">
  {{dedicatoria.name}}
  </a>
</h1>

<img src={{dedicatoria.foto}} height="150px" width="150px">




<h4 *ngIf ="dedicatoria.descripcion">
Descripcion : {{dedicatoria.descripcion}}
</h4>

<h4>posicion : {{dedicatoria.id}}</h4>

<h5>{{dedicatoria.espacio}}</h5>

</div>
</div>

 </div>