#contenedor {
  color: rgb(12, 12, 83);
  text-align: center;
}

h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(110, 139, 110);

}

#contdedi{background-color: rgb(173, 226, 173)}

h5{background-color: rgb(255, 255, 255);}